<article class="col-12 col-md-6 col-lg-4 p-3">
    <div class="card">
      <img src="/images/<%= mainImage ? mainImage : 'default-placeholder.png' %>" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-title"><%= name %></h4>
        <p class="card-text"><%= description %></p>
        <a href="/products/detail-main-image/<%= id %>" class="btn btn-sm btn-outline-dark">ver más</a>
      </div>
    </div>
  </article>